<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dennis Schuberts personal website with a blog, projects and some other stuff">
    <meta name="author" content="Dennis Schubert">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="Blog feed (Atom)" href="/blog/atom.xml">
    <title>
      {% if page.title %}
        {{ page.title }} - Dennis Schubert
      {% else %}
        Dennis Schubert
      {% endif %}
    </title>
  </head>
  <body>
    <header {% if omitnav %}class="nonav"{% endif %}>
      <h1 id="title">
        <a href="/">{{site.name}}</a>
      </h1>
    </header>
    {% unless omitnav %}
      <nav>
        <ul>
          {% for link in site.data.navigation.main %}
            {% assign active = nil %}
            {% if page.url == link.url or page.layout == link.layout %}
              {% assign active = 'active' %}
            {% endif %}
            <li>
              <a class="{{active}}" href="{{link.url}}">
                {{link.title}}
              </a>
            </li>
          {% endfor %}
          <li>
            <a href="https://pod.geraspora.de/u/denschub" target="_blank">
              <i class="icon-diaspora"></i>
              <span>My Diaspora* profile</span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/denschub" target="_blank">
              <i class="icon-twitter"></i>
              <span>Follow me on Twitter</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/denschub" target="_blank">
              <i class="icon-github"></i>
              <span>Open Source projects on GitHub</span>
            </a>
          </li>
        </ul>
      </nav>
    {% endunless %}
    <section id="content">
