/*
 * Magic Content-Boxes!!!11
 */

article.cbox {
    background-color: #eae3d8;
    border: 1px solid #e6ddd0;
    border-radius: 10px;
    float: left;
    height: 200px;
    margin: 10px;
    -moz-border-radius: 10px;
    padding: 10px;
    -webkit-border-radius: 10px;
    width: 278px;
    font-size: 0.889em;
    line-height: 18px;
}

   
    article.cbox div.cboxImage {
        position: relative;
    }
    
        article.cbox div.cboxImage a {
            text-decoration: none;
        }

            article.cbox div.cboxImage a img {
                display: block;
            }
        
        article.cbox div.cboxImage .cboxCaption,
        article.cbox div.cboxImage .cboxTypeLabel {
            width: 258px;
            position: absolute;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 10px;
            color: #fff;
            text-decoration: none;
        }

            article.cbox div.cboxImage .cboxCaption {
                display: none;
                left: 0;
                bottom: 0;
                height: 35px;
            }
        
            article.cbox div.cboxImage a:hover .cboxCaption {
                display: block;
            }
            
        article.cbox div.cboxImage .cboxTypeLabel .cboxTypeRight {
            float: right;
        }
