#content label, #content input, #content textarea {
  display: block;
  width: 100%;
}

#content label, #content input[type="submit"], #content .checkboxRow,
#formularAdditionalLinks {
  margin-top: 15px;
}

  #content .checkboxRow label, #content .checkboxRow input {
    width: auto;
    display: inline;
    margin-top: 0px;
  }

#formularAdditionalLinks {
  font-size: 80%;
}

  #formularAdditionalLinks a {
    color: #612b00;
  }
