.clear {
    clear: both;
}

/*
 * Layout-Stuff
 */

body {
    background-color: #ecebe2;
    border-top: 12px solid #eae3d8;
    font-family: "DidactGothic", Verdana, Sans;
    line-height: 25px;
    font-size: 18px;
    height: 100%;
    width: 100%;
}


#headerContainer {
    background-color: #f3f1ec;
    border-bottom: 1px solid #612b00;
    border-top: 1px solid white;
}

#navBarContainer, #paginationContainer {
    background-color: #9c5820;
    border-bottom: 1px solid #612b00;
    border-top: 1px solid #c08858;
    height: 51px;
}

#contentContainer, #cboxesContainer, #blogContainer {
    border-top: 1px solid white;
    border-bottom: 1px solid #612b00;
    clear: both;
    padding-bottom: 30px;
}

#footerContainer {
    border-top: 12px solid #eae3d8;
}

    #footerContainer .footerBox {
        float: left;
        height: 178px;
        margin: 10px;
        padding: 5px;
        width: 288px;
        color: #9c5820;
        position: relative;
    }
    
        nav#footerNavigation ul li {
            list-style-type: disc;
            list-style-position: inside;
            border-bottom: 1px solid #c08858;
        }
        
            nav#footerNavigation ul li a {
                color: #9c5820;
                text-decoration: none;
            }
            
        #footboxCenter p {
            text-align: justify;
        }
        
            #footboxCenter p a {
                color: #9c5820;
            }
            
        #footboxRight div {
            position: absolute;
            bottom: 53px;
            right: 0;
            margin: 0 auto;
        }
        
            #footboxRight div a,
            #footboxRight div img {
                display: block;
            }
            
                #footboxRight div a {
                    float: left;
                    padding-left: 5px;
                }

#header, #content, #cboxes, #blog, #footer, nav#navBar {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}

    #header {
        height: 145px;
    }
    
    #cboxes, #footer, #blog {
        padding: 0;
        width: 960px;
    }
    
    #footer {
        height: 100px;
        font-size: 0.889em;
    }
    
#headerTitleContainer, #headerSocialContainer {
    height: 145px;  
    width: 460px;
}

    #headerTitleContainer {
        margin-right: 10px;
        float: left;
    }
    
        #headerTitleContainer h1#siteName {
            padding-top: 32px;
        }
        
    #headerSocialContainer {
        float: right;
    }
            
        #headerSocial {
            background-color: #eae3d8;
            border: 1px solid #e6ddd0;
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            padding: 5px;
            width: 288px;
            float: right;
            margin-top: 36px;
        }
        
            #headerSocial a {
                float: left;
                display: block;
                padding: 5px;
                height: 48px;
            }
            
                #headerSocial a img {
                    display: block;
                }
            
                #headerSocial a.rssIcon {
                    float: right;
                }
         
/*
 * General styles
 */
 
h1#siteName a, h2#siteSlogan {
    color: #9c5820;
}
    h1#siteName a {
        font-size: 42px;
        text-decoration: none;
    }
    
    h2#siteSlogan {
        font-size: 21px;
    }
