common: &common
  adapter: mysql2
  host: "localhost"
  port: 3306
  username: "schubio"
  password: ""
  charset: utf8
  collation: utf8_bin


development:
  <<: *common
  database: schubio_development

production:
  <<: *common
  database: schubio_production

test:
  <<: *common
  database: schubio_test
