<%- content_for :page_title do %>
  404
<% end %>

<section class="content">
  <h1>404 - Page not found.</h1>
  <p>
    You are looking for a page I cannot find. Maybe you
    mistyped the URL or your link was too old.
  </p>
</section>