#blog h2 {
    margin-top: 0;
}

#blog p {
    padding-left: 10px;
}

#blogposts {
  width: 640px;
  float: left;
}

#blogsidebar {
  width: 300px;
  float: right;
  margin-right: 10px;
  text-shadow: 1px 1px 0 #fff;
}

article.blogbox {
  color: #612b00;
  margin: 10px 10px 35px 10px;
  padding: 10px;
}

  article.blogbox .blogboxHeadline h1 {
    margin-bottom: 0;
  }

    article.blogbox .blogboxHeadline .date {
      font-size: 0.9em;
      margin-left: 10px;
      margin-top: -10px;
    }

  article.blogbox p,
  article.blogbox .blogboxInfo {
    text-shadow: 1px 1px 0 #fff;
  }

    article.blogbox h2 a {
      color: #612b00;
      text-decoration: none;
    }

  .blogboxInfo {
    font-size: 0.889em;
    border-top: 1px solid #612b00;
    padding: 5px 0 0 0;
    margin-top: 10px;
  }

    .blogboxInfo a {
      color: #612b00;
    }

    .blogboxInfo div {
      padding: 2px 0 2px 26px;
      margin-right: 15px;
      display: inline;
    }

      .blogboxInfo .date {
        background: url("/assets/icons/raw/icon-date.svg") no-repeat 0 0;
      }

      .blogboxInfo .tags {
        background: url("/assets/icons/raw/icon-tags.svg") no-repeat 0 0;
      }

      .blogboxInfo .comments {
        background: url("/assets/icons/raw/icon-comments.svg") no-repeat 0 0;
      }

      .blogboxInfo .flattrthis {
        float: right;
        padding-top: 4px;
      }

#blogsidebar, #blogsidebar a {
  color: #612b00;
}

  #blogsidebar h3 {
    margin-top: 20px;
  }

  #blogsidebar nav ul {
    padding-left: 15px;
  }

  #blogsidebar nav li {
    border-bottom: 1px solid #612b00;
    list-style-type: disc;
    list-style-position: inside;
  }

    #blogsidebar nav li a {
      text-decoration: none;
    }


.blogcommentBox {
  background-color: #eae3d8;
  border: 1px solid #e6ddd0;
  border-radius: 10px;
  padding: 10px 10px 10px 70px;
  margin-bottom: 10px;
  position: relative;
}

  .blogcommentBox .commentAuthorImage {
    position: absolute;
    left: 10px;
    margin-right: 10px;
  }

  .blogcommentBox .commentAuthor {
    font-weight: bold;
    padding-bottom: 3px;
  }

  .blogcommentBox .commentDate {
    font-size: 0.889em;
    background: url("/assets/icons/raw/icon-date.svg") no-repeat 0 0;
    padding: 2px 2px 0 26px;
  }

    .blogcommentBox .commentDate a {
      color: #612B00;
      text-decoration: none;
    }

      .blogcommentBox .commentDate a:hover {
        text-decoration: underline;
      }

  #blogcommentsContainer .blogcommentBox .commentContent p {
    padding-left: 0;
  }
