/*
 * Content-Styles
 */

#main {
    color: #612B00;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

abbr, acronym {
  border-bottom: 1px dotted;
}

sup, sub{
  font-size: 0.6em;
}

    sup {
      vertical-align: super;
    }

    sup {
      vertical-align: sub;
    }

h1, h2, h3 {
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

    h1, h1 a {
        font-size: 36px;
        line-height: 54px;
        margin-top: 20px;
        margin-bottom: 15px;
        text-decoration: none;
        color: #612B00;
    }
    
    h2, h3 {
        font-size: 24px;
        line-height: 30px;
        margin-top: 42px;
        margin-bottom: 15px;
    }
    
        h2 a {
            color: #612B00;
            text-decoration: none;
        }
 
p {
    margin-top: 15px;
    padding-left: 20px;
    text-shadow: 1px 1px 0 #fff;
}

    p a, li a {
        color: #612B00;
    }
    
        p a:hover, li a:hover {
            text-decoration: none;
        }

blockquote {
    font-style: italic;
    padding-left: 45px;
}
        
ul, ol {
    margin-top: 15px;
    padding-left: 50px;
    text-shadow: 1px 1px 0 #fff;
}

    ul {
        list-style: disc outside;
    }
    
    ol {
        list-style: decimal outside;
    }
    
        ol ol{
            list-style-type: lower-latin;
        }
    
        ul ul, ul ol,
        ol ul, ol ol {
            margin-top: 0px;
            padding-left: 30px;
        }
        
.imgLeft, .imgRight, .imgCenter {
    background-color: #eae3d8;
    border: 1px solid #e6ddd0;
    padding: 10px;
}

    .imgLeft img,.imgRight img, imgCenter img {
        display: block;
    }
    
    .blogboxIntro .imgLeft, .blogboxIntro .imgRight, .blogboxIntro .imgCenter {
      text-align: center;
    }
    
    .blogboxIntro .imgCenter {
      margin-top: 15px;
    }

    .imgLeft {
        float: left;
        margin: 10px 20px;
    }
    
    .imgRight {
        float: right;
        margin: 10px 0px 10px 20px;
    }
    
table {
    margin-left: 20px;
}
    
    th, td {
        border: 1px solid #612B00;
        padding: 1px 4px;
    }

       th {
            background-color: #9c5820;
            color: #fff;
            text-align: left;
        }
