#projectContent {
    width: 640px;
    float: left;
}

#projectSidebar {
    width: 300px;
    float: right;
    margin-right: 10px;
    text-shadow: 1px 1px 0 #fff;
    color: #612B00;
}

    #projectSidebar h3 {
        margin-top: 20px;
    }

    #projectSidebar img {
        background-color: #EAE3D8;
        border: 1px solid #E6DDD0;
        padding: 10px;
        margin-top: 10px;
    }

    #projectSidebar a.source_link {
        color: #612B00;
        background: transparent url("/assets/icons/raw/icon-globe.svg") no-repeat 0 0;
        padding: 0 0 1px 30px;
    }

        #projectSidebar a.source_link:hover {
            text-decoration: none;
        }

